/**
 * @file
 * Styles for the overall entity browser.
 */

.layout-container {
  margin: 0;
}

article {
  position: relative;
}

.image-style-thumbnail {
  max-height: 75px !important;
}

.media-library-item--grid .image-style-thumbnail {
  max-height: 180px !important;
}

/**
 * Form elements.
 */
.entity-browser-form input.edit-submit {
  margin-top: 20px;
}

/**
 * Tab navigation.
 */
.entity-browser-form nav.tabs {
  margin-bottom: 20px;
}

.entity-browser-form input.tab {
  display: none;
}

.entity-browser-form .entity-tabs a {
  cursor: pointer;
}

.eb-tabs ul {
  margin: 0 0 1.5rem 0;
  border-bottom: 1px solid #d4d4d8;
  border-radius: 0px;
}

.eb-tabs ul li {
  border: 0;
  background-color: #ffffff;
  font-size: 0.889rem;
  font-weight: bold;
  display: inline-block;
}

nav.eb-tabs ul li a {
  padding: 0.75rem 1.5rem;
  text-decoration: none;
  color: #545560;
  line-height: 1.2rem;
  display: block;
}

nav.eb-tabs ul li.active a {
  top: auto;
  right: 0;
  bottom: 0;
  left: 0;
  border-right: none;
  border-bottom: 3px solid #003cc5;
  border-left: none;
  background-color: #fff!important;
}

nav.eb-tabs ul li.active a:hover {
  background-color: #e6ecf8!important;
}

nav.eb-tabs ul li:hover {
  top: auto;
  right: 0;
  bottom: 0;
  left: 0;
  color: #0036b1;
  border-right: none;
  border-bottom: 0px solid #003cc5;
  border-left: none;
  background-color: #e6ecf8!important;
}

nav.eb-tabs ul li:hover a {
  color: #0036b1;
}

/**
 * @file
 * Styles for lists of entities display using FieldWidgetDisplayInterface plugins.
 *
 * Currently used on Entity browser entity reference field widget and Multi-step
 * selection display plugin.
 *
 * These styles are compatible with Bartik, Seven, and Classy themes.
 */

.entities-list .item-container {
  display: inline-block;
  margin: 10px 10px 15px;
  vertical-align: text-bottom;
}

.entities-list .item-container > img,
.entities-list .item-container > input {
  display: block;
  margin: 5px auto 0;
}

.entities-list.sortable .item-container:hover {
  cursor: move;
  opacity: 0.6;
}

.entities-list .rendered-entity {
  display: inline-block;
  vertical-align: text-top;
}

.entities-list.hidden {
  display: none;
}

@media screen and (max-width: 1250px) {
  .entities-list tbody * {
    display: block;
  }

  .entities-list thead tr th:nth-child(2),
  .entities-list thead tr th:nth-child(3),
  .entities-list thead tr th:nth-child(4) {
    display: none;
  }

  .entities-list tbody tr td a.tabledrag-handle {
    position: absolute;
    margin-left: -40px;
  }

  .entities-list tbody tr td {
    margin-left: 20px;
  }
}

@media screen and (min-width: 1251px) {
  .entities-list {
    table-layout: fixed;
  }
}

@media screen and (min-width: 1021px) and (max-width: 1100px) {
  .toolbar-tray-open.toolbar-vertical .entities-list {
    display: inline-block;
  }

  .toolbar-tray-open.toolbar-vertical .entities-list thead,
  .toolbar-tray-open .entities-list tbody {
    display: inline-block;
    width: 100%;
  }

  .toolbar-tray-open.toolbar-vertical .entities-list thead > tr {
    display: table;
    width: 100%;
  }

  .toolbar-tray-open.toolbar-vertical .entities-list tbody tr td {
    padding-right: 0;
  }
}

@media screen and (min-width: 780px) and (max-width: 920px) {
  .entities-list input.form-text,
  .entities-list textarea.form-textarea {
    width: 100%;
  }
}

@media screen and (min-width: 610px) and (max-width: 780px) {
  .toolbar-tray-open .entities-list {
    display: inline-block;
  }

  .toolbar-tray-open .entities-list thead,
  .toolbar-tray-open .entities-list tbody {
    display: inline-block;
    width: 100%;
  }

  .toolbar-tray-open .entities-list thead > tr {
    display: table;
    width: 100%;
  }

  .toolbar-tray-open .entities-list tbody tr td {
    padding-right: 0;
  }
}

/**
 * @file
 * Styles for the iFrame Display Plugin.
 */

.entity-browser-iframe-container iframe {
  /* IFrame is rendered as inline element by default and thus have a line height
  which can add unwanted vertical space around it. */
  display: block;
  position: relative;
  z-index: 501;
  /* Remove the border on our iframe element. */
  border: none;
}

.entity-browser-iframe-container .ajax-progress-fullscreen {
  position: absolute;
  z-index: 500;
}

.entity-browser-iframe-container {
  position: relative;
}

/**
 * @file
 * Styles for entity browser modal.
 */

/** IFrame is rendered as inline element by default and thus have a line height
    which can trigger vertical scrollbar on a parent ui-dialog-content wrapper
    element. */
.entity-browser-modal-iframe {
  display: block;
}

/** Prevent div wrapper to have height bigger then dialog content height. */
.entity-browser-modal .ui-dialog-content > * {
  max-height: 100%;
}

/**
 * @file
 * Styles for the modal propagation step.
 */

body {
  display: none;
}

.js-form-type-entity-browser-pager {
  margin-top: 10px;
  text-align: center;
}

.js-form-type-entity-browser-pager input,
.js-form-type-entity-browser-pager input:hover,
.js-form-type-entity-browser-pager input:focus {
  background: 0;
  border: 1px solid #003cc5;
  border-radius: 0;
  box-shadow: none;
  color: #0036b1;
  font-size: 1.08em;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.js-form-type-entity-browser-pager span {
  color: #8c8c8c;
  font-size: 1.08em;
  font-weight: bold;
  margin: 0.8em;
}

.js-form-type-entity-browser-pager input[name="prev_page"]:disabled,
.js-form-type-entity-browser-pager input[name="next_page"]:disabled {
  visibility: hidden;
}

.js-form-type-entity-browser-pager input:focus:not(:disabled),
.js-form-type-entity-browser-pager input:hover:not(:disabled) {
  border-radius: 0;
  border: 1px solid #003cc5;
  color: #0036b1;
  font-size: 1.08em;
  font-weight: bold;
}

